*{
    font-family: system-ui, BlinkMacSystemFont, sans-serif;
    border-radius: 5px;
    position: relative;
}
h1{
    text-align: center;
    color: rgb(63, 63, 135);
}
body{
    background-color: #a28dc2;
    color: darkblue;
    font-size: large;
}
#btn{
    margin: 15px;
    padding: 5px;
    background-color: rgb(92, 92, 152);
    color: #f0f0f0;
    transform: background-color 0.25s;
}
#btn:hover{
    background-color: rgb(63, 63, 135);
    cursor: pointer;
}
#img{
    text-align: center;
}