h1,body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: 10px;
    line-height: 2.5;
    font-size: 1.5em;
}
#container{
    width: 100%;
    height: 30vh;
    background-color: lightgray;
    border-radius: 30px;
}
#display{
    font-size: xx-large;
}
#start,#stop,#reset{
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 20vh;
    font-family: impact;
}
#start{
    background-color: lightgreen;
}
#start:hover{
    cursor: pointer;
    background-color: darkgreen;
}
#stop{
    background-color: lightcoral;
}
#stop:hover{
    cursor: pointer;
    background-color: darkred;
}
#reset{
    background-color: lightyellow;
}
#reset:hover{
    cursor: pointer;
    background-color: darkgoldenrod;
}