.list-todo-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;

    .add-todo {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            font-size: 16px;
        }

        button {
            padding: 10px 15px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #45a049;
            }
        }
    }

    .content-todo {
        .todo-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-bottom: 10px;
            background-color: #fff;
            transition: background-color 0.3s;

            &:hover {
                background-color: #f1f1f1;
            }

            span {
                font-size: 18px;
                color: #333;
            }

            button {
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.3s;

                &.edit {
                    background-color: #2196F3;
                    margin-right: 10px; // Khoảng cách giữa nút edit và delete
                }

                &.delete {
                    background-color: #f44336;
                    margin-left: 10px; // Khoảng cách giữa nút delete và edit
                }

                &:hover {
                    &.delete {
                        background-color: #d32f2f; // Delete button hover
                    }

                    &.edit {
                        background-color: #1976D2; // Edit button hover
                    }
                }
            }
        }
    }
}